<!doctype html>
<html lang="en" ng-app="cityApp">
<head>
	<meta charset="utf-8">
        <script src="js/angular.min.js"></script>
        <script src="js/city.js"></script>
    </head>
    <body>
    	<div ng-controller = "cityController as cityObject">
    		<input type="text" name="" id="" placeholder="输入城市名称" ng-model="cityName">
    		<ul>
    			<li ng-repeat="city in cityObject.cities | filter:cityName | orderBy:'spell'">{{ city.name }} ({{city.spell}})</li>
    		</ul>
    	</div>
    </body>
</html>